<% include partials/header.ejs %>

  <body>
    <h1><%= title %></h1>
    <p>Name of the Project: <span><%= projName %></span></p>
    <p>Description: <span><%= desc %></span></p>
  </body>

<% include partials/footer.ejs %>
